@model ForgetPasswordVM
@{
	ViewData["Title"] = "Forgot Password Page";
}

<div class=" d-flex align-items-center justify-content-center" style="height: 700px;">
	<div class="card shadow border w-25">
		<div class="card-header bg-dark bg-gradient">
			<div class="row">
				<div class="text-start text-white">
					<i class="bi bi-shield-shaded h4"></i> Forgot Password
				</div>
			</div>
		</div>
		<div class="card-body border">
			<form asp-action="ForgotPassword" class="row">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="row">
					<div class="form-floating py-1 ">
						<input asp-for="Email" class="form-control border shadow" placeholder="Email Address" />
						<label asp-for="Email" class="ms-2"></label>
						<span asp-validation-for="Email" class="text-danger"></span>
					</div>


					<div class="form-floating d-grid gap-2 d-md-block pt-2">
						<button type="submit" class="btn btn-info shadow">
							<i class="bi bi-check-circle"></i> Create
						</button>
						<a asp-controller="Accounts" asp-action="Login" class="btn btn-secondary shadow ">
							<i class="bi bi-x-circle"></i> Cancel
						</a>
					</div>
				</div>


			</form>
		</div>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}