@model LoginVM
@{
	ViewData["Title"] = "Forgot Password Confirmation Page";
}

<div class=" d-flex align-items-center justify-content-center" style="height: 700px;">
	<div class="card shadow border w-50">
		<div class="card-header bg-dark bg-gradient">
			<div class="row">
				<div class="text-start text-white">
					<i class="bi bi-shield-fill-check h4"></i> Forgot Password Confirmation
				</div>
			</div>
		</div>
		<div class="card-body border">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="row">
					<p>
						The link has been sent, please check your email to reset your password.
					</p>
				</div>
		</div>
	</div>
</div>



