<div class=" d-flex align-items-center justify-content-center" style="height: 700px;">
	<div class="card shadow border w-50">
		<div class="card-header bg-secondary bg-gradient">
			<div class="row">
				<div class="text-start text-white">
					<i class="bi bi-shield-fill-check h4"></i> Reset Password Confirmation
				</div>
			</div>
		</div>
		<div class="card-body border">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="row">
				<p>
					Your password has been reset. Please <a asp-action="Login">click here to log in</a>.
				</p>
			</div>
		</div>
	</div>
</div>